user www-data;
worker_processes auto;

events {
    worker_connections {{ nginx_worker_connections }};
}

http {
    server {
        listen {{ nginx_listen_port }};
        server_name _;

        location / {
            root /var/www/html;
            index index.html;
        }
    }
}
